.DS_Store
*/.DS_Store
.idea
build/
packages/*/package-lock.json
package-lock.json
packages/*/node_modules
packages/*/dist
packages/*/docker-compose.override.yml
packages/*/docker-compose.override.yaml
*/.tsbuildinfo/
coverage/
scratch/
node_modules/
.eslintcache/
*.lerna_backup

npm-debug.log
lerna-debug.log

docs
lint-results.json

.vscode/*
!.vscode/extensions.json
!.vscode/.shared.code-snippets
